{% extends "base/base.html" %}

{% load humanize %}

{% block title %}{% endblock %}

{% block head_script %}

{% endblock %}

{% block content %}
<div class="ui container">
    <form action="" method="POST" class="ui massive form">
        {% csrf_token %}
        <div>
            <p>{{ form.work.label_tag }}
                {{ form.work}}</p>
        </div>
        <div>
            <p>{{ form.start_date.label }}
                {{ form.start_date }}</p>
        </div>
        <div>
            <p>{{ form.end_date.label }}
                {{ form.end_date }}</p>
        </div>
        <div>
            <p>{{ form.break_time.label }}
                {{ form.break_time }}分</p>
        </div>
        <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
        <button class="ui huge button" type="submit">登録</button>
    </form>
</div>




{% endblock %}

{% block script %}

{% endblock %}